html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #c9e7c9;
}

.navbar {
  background-color: #7ac2cf;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

#logo {
  width: 120px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
  justify-content: space-between;
}

.menu-pesquisa {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
  max-width: 600px;
  min-width: 250px;
}

.menu-pesquisa input {
  flex: 1;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #c9e7c9;
}

.menu-logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-form {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.btn-form i {
  font-size: 28px;
  color: #c9e7c9;
}

.form-label-logout {
  font-size: 12px;
  color: #fff;
  margin-top: 2px;
}
.produtos-container {
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding-left: 250px;
  background-color: #c9e7c9;
}

.produto-card {
  
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.produto-card:hover {
  background-color: #fff;
  transform: scale(1.03);
}

.produto-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.produto-card h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: #444;
}

.produto-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.preco {
  font-weight: bold;
  color: #2e8b57;
  font-size: 16px;
}


@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: stretch;
  }

  .menu-pesquisa {
    width: 100%;
    max-width: none;
  }

  .menu-logout {
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }
}
