.chat-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 320px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2000;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.mensagem {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  max-width: 80%;
}

.usuario {
  align-self: flex-end;
  background-color: #d1f0d1;
  text-align: right;
  color: #7ac2cf;
}

.gemini {
  align-self: flex-start;
  background-color: #7ac2cf;
}

.chat-input {
  display: flex;
  padding: 10px;
  gap: 8px;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #c9e7c9;
  color: black;
}

.chat-input button {
  padding: 8px 12px;
  background-color: #7ac2cf;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #5eb2c0;
}
